<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<script>
    var=[[${}]]



</script>



<!--<th:block th:each="student:${students}">
    <tr>
      <td th:text="${studentStat.current}"></td>
      <td th:text="${studentStat.count}"></td>
      <td th:text="${studentStat.index}"></td>
    </tr>

    <div>
        <span th:text="A" th:if="${student.score ge 90}"></span>
        <span th:text="B" th:if="${student.score ge 80}"></span>
        <span th:text="C" th:if="${student.score ge 70}"></span>
        <span th:text="D" th:if="${student.score ge 60}"></span>
        <span th:text="F" th:unless="${student.score ge 60}"></span>
    </div>
</th:block>-->
</body>
</html>