<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        .text_color{
                    background: rgb(255,0,0);
                     background: linear-gradient(120deg, rgba(255,0,0,1) 0%, rgba(255,141,0,1) 17%, rgba(245,255,0,1) 34%,
                    rgba(34,106,42,1) 51%, rgba(4,37,240,1) 68%, rgba(13,27,147,1) 85%, rgba(94,0,255,1) 100%);
                background-clip: text;
               -webkit-background-clip: text;
              color: transparent;
          }

    </style>
</head>
<body>

    <div class="container">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><b>#</b></td>
                        <td><b>이름</b></td>
                        <td><b>도시</b></td>
                        <td><b>주소</b></td>
                        <td><b>우편번호</b></td>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="member : ${members}">
                        <tr>
                           <td th:text="${member.id}"></td>
                           <td th:text="${member.name}"></td>
                           <td th:text="${member.address.city}"></td>
                           <td th:text="${member.address.street}"></td>
                           <td th:text="${member.address.zipcode}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>