<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<span th:text = "${item.itemName}"></span>
<!--

<table th:each="item : ${items}">
  <thead th:text="'Kyungmin'+'item'+'table'"></thead>

  <tbody>
  <tr>
    <td th:text="${item.key}"></td>
  </tr>

  <tr>
    <td th:text="${item.value['price']}"></td>
  </tr>

  <tr>
    <th th:text="${item}"></th>
  </tr>

  </tbody>

  <tfoot th:text="${itemStat}">

  </tfoot>

</table>
-->


</body>
</html>